body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin: 0;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 2px solid #333;
  border-radius: 50%;
}

.center-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hour-hand,
.minute-hand,
.second-hand {
  position: absolute;
  transform-origin: 50% 100%;
}

.hour-hand {
  width: 4px;
  height: 50px;
  background-color: #333;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.minute-hand {
  width: 3px;
  height: 70px;
  background-color: #666;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0%);
}

.second-hand {
  width: 2px;
  height: 90px;
  background-color: red;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
}
